[submodule "multirobots_ws/src/gz_ros2_control"]
	path = multirobots_ws/src/gz_ros2_control
	url = https://github.com/Adrien420/gz_ros2_control.git
	branch = humble
[submodule "multirobots_ws/src/Micro-XRCE-DDS-Agent"]
	path = multirobots_ws/src/Micro-XRCE-DDS-Agent
	url = https://github.com/Adrien420/Micro-XRCE-DDS-Agent.git
[submodule "multirobots_ws/src/px4_msgs"]
	path = multirobots_ws/src/px4_msgs
	url = https://github.com/Adrien420/px4_msgs.git
	branch = main
[submodule "multirobots_ws/src/robotnik_sensors"]
	path = multirobots_ws/src/robotnik_sensors
	url = https://github.com/Adrien420/robotnik_sensors.git
	branch = ros-devel
[submodule "multirobots_ws/src/PX4-Autopilot"]
	path = multirobots_ws/src/PX4-Autopilot
	url = https://github.com/Adrien420/PX4-Autopilot.git
	branch = main
